name: cd

'on': 
  pull_request:
    branches:
      - main
    types:
      - closed

jobs:
  docker:
    if: '${{ github.event.pull_request.merged }}'
    runs-on: [self-hosted, shanthosh]
    steps:
      -
        uses: actions/checkout@v2
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: '${{ secrets.DOCKERHUB_USERNAME }}'
          password: '${{ secrets.DOCKERHUB_TOKEN }}'
      -
        name: Build and push
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: 'shanthosh04/m324-typescript:latest'
      -
        name: Set up Kubectl
        uses: azure/setup-kubectl@v1
        with:
          version: latest
      -
        name: Set Kubernetes Context
        uses: azure/k8s-set-context@v3
        with:
          kubeconfig: '${{ secrets.KUBE_CONFIG }}'
      -
        name: Replace and Apply Kubernetes Manifests
        uses: swdotcom/update-and-apply-kubernetes-configs@v1
        with:
          k8-config-file-paths: |
            .k8s/00_namespace.yml
            .k8s/01_deployment.yml
            .k8s/02_service.yml
            .k8s/03_ingress.yml
          replacement-method: list
          env-replacement-list: |
              KUBERNETES_NAMESPACE
              IMAGE_TAG
              APP_NAME
              APP_NAME
              BASE_URL
        env:
          KUBERNETES_NAMESPACE: m324-2
          IMAGE_TAG: 'shanthosh04/m324-typescript:latest'
          APP_NAME: my-app-sivas
          BASE_URL: ss.m324.hackerman.ch